

body {
  font-family: 'Lato', sans-serif!important;
  background-color:white;
  margin: 0;
  padding: 0;
}
.bitUp{
  font-size: 50px;
  text-align: center;
  margin-top: 8vh;
  color: black!important;
  font-weight: bold;
  text-shadow:rgb(240, 85, 111) 0.1em 0.1em 0.2em;
  
}
.listVineta li{
list-style-type: circle !important;

}


.contenedor {
  color: #ffffff;
  text-align: center;
}
.contenido{
  margin-top: 30PX;
}
.contador{
  margin-top: 30px;
}

.banner {
  margin-bottom: 50px;
}
.line-bitup{
  line-height: 2.5rem;
  padding: 0 4rem;
}

.cartel {
  background-color: black;
  width: 109px;
  height: 109px;
  padding: 10px 0px 5px 0px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border-top: 7px solid rgb(240, 85, 111);
  border-bottom: 7px solid rgb(240, 85, 111);
  border-left: 7px solid rgb(240, 85, 111);
  border-right: 7px solid rgb(240, 85, 111);
  border-radius: 5px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.5);
}

.cartel>div{
  font-size: 50px;
  font-family: 'Chela One', sans serif;
  animation: fade 3s;
  line-height: 30px;
  margin-top: 5px;
}

.cartel>div>h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: normal;
/*  border-top: 1px solid #333333;
	box-shadow: 0 -5px 15px -5px #000000;*/
}

.h3 {
  bottom: 0;
  margin: 0 auto ;
}

.dospuntos {
  background: transparent;
  padding: 0px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  margin-top: 15px;
  color: #ffffff;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.dospuntos>p{
  font-size: 50px;
  font-family: 'Chela One', sans serif;
  animation: fade 3s;
}

.desaparecer {
  display: inline-block
}
.bitup{
  background-color: #e9ecef;
  

  ;
}

.contenedor {
  margin-top: 13%;
  
}

.contenido {
  width: 80%;
  margin: -60px auto;
  border: 0px solid black;
  z-index: 10;
}

li {
 
  list-style-type: none;
  padding: 1em;
 
}

li span {
  display: block;
  
}

.numeros {
  font-family: 'Chela one', sans-serif;
  font-size: 60px;
  transition: .3s;
  animation-name: fade;
  animation-duration: 3s;
}

.responsivo1 {
  display: inline-block
}

.responsivo2 {
  display: inline-block
}
.galeryBitup{
  width: 200px;
  
}
.galeryBip{
  padding-left: 60px;
}


@media (max-width: 300px) {  
  .desaparecer2 {
    display: none
  }
}



.logoBienal {
  
  height: 140px;
  padding: 0 10px;
  
  
}
  
.contador{
  margin-top:10%;
  }

.container {
  width: 100%;
    
  margin-left: auto;
  }
  .banner {
   margin-bottom: 30px; 
  }
  .cartel {
    height: i2px;
    width: 93px;
  }
  .cartel>div{
    font-size: 37px;
  }
  .cartel>div>h3 {
    font-size: 15px;
    margin-top: 0px;
  }
  


@media (min-width: 540px) {
  /* desktop */
}

@keyframes fade {
    0%   {
      opacity: 0;
  }
    30%   {
      opacity: 0;
  }  
    100% {
      opacity: 1;
  }
}

.containerAgrupation{
  text-align: center;
  letter-spacing: 0.2rem;
  
  
  
}
.containerAgrupation li{
  
  font-size: 2vh;
  text-align: justify!important;
  
}

.imagesBienal{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;

}

.hoverBienal{
  color: white !important;
  margin-top: 5px;
}

.button{

  width: 300px;
  height: 150px;
  color: #7e2525;
}
.button:hover{
  color: rgb(245, 159, 31);
}
.lineaFinal{
  width: 20vh;
  height: 10vh;
  
  
}

.listTunas{
  padding: 0.5rem !important;
  
}
.afiche{
  display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-top: 7vh;
}
.afiche img {
  margin-top: 10%;
   width: 100%;
  height: 100%;
  --zi: calc(900px / 3 - 3px);
  width: var(--zi);
  height: var(--zi);
}
@media (max-width: 540px) {  
  
  .contenedor {
    margin-top: 100%;
  }
  .desaparecer {
      display: none;
  }
  .p1{
      font-size: 20px;
  }

  .contador{
    margin-top: 37%;
  }
  .bitUp{
    margin-top: 26px!important;
  }

  .titleReseña {
      color: #cc7746 !important;
      font-size: 20px;
      margin-top: -13px;
  }
  .afiche img {
    margin-top: -9%;
    margin-bottom: 9%;
      --zi: calc(700px / 3 - 3px);
    width: var(--zi);
    height: var(--zi);
    }
  .bitup2012{
    margin-top:40px;
  }

  .galeryBitup {
    width: 95px;
}
.containerGaleryBienal{
  margin-top: 33px;
  
}
.galeryBip{
  padding-left: 0px;
}
    
}
