/*SEGUNDO HTML LIFE */

body{
  font-family: 'Lato', sans-serif!important;
	text-align: justify;
	margin: 0%;
	padding: 0%;
}



li a{
  color: white; 
 }

ul li  a:hover {
  color: #d79f7f;
}
.linkActive{
  color: #d79f7f;
}
.linkActive:hover{
  color:white;
}

.granate{

  background: rgb(109, 26, 26);
}

.dropdown-menu{
	background-color:black;
	
}
.dropdown-item{
	color: white;
}
/* CAROUSEL*/
.carousel{
	top:10vh;

}

.foto3{
	height: 520px;
}


.life{
	background-color: rgb(235, 229, 229);
}

/*motivacion*/

/* videos*/

.videosContenido{
	margin: 50px 20px 50px 20px;
}
.experience{
margin-top: -60px;
	

}
.textExperience{
	font-style: oblique;
}

.containervideotestimony{

	justify-content: center;
	
	
}
.videoConvocatoria{
	
	width: inherit;
	
}
.experienceTitle{
	margin-top: 20px;
}
.textExperience{
  text-align: justify;


}

/*noticias*/




.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  

}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(5, 5, 5, 0.432);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  width: 280px;
 
} 
.snip1584 img {
  vertical-align: top; 
  backface-visibility:hidden;
  width: 250PX;
  margin: 8px;

}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300PX;
}
.snip1584 h5,
.snip1584 h8 {
  text-align: center;
 opacity: -1;
  letter-spacing: 1px;
}
.snip1584 h5 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  font-weight: 200;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h8 {
  font-weight: normal;
  
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h5,
.snip1584.hover h5,
.snip1584:hover h8,
.snip1584.hover h8 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h8,
.snip1584.hover h8 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}



/*galerynueva*/

/*videos*/
.textVideo{
  margin-bottom: 50px;
}
.containerVideos{
  display: flex;
   flex-flow: row wrap;
   justify-content: center;

}
.video{
  display: flex;
   flex-flow: row wrap;
   justify-content: center;
   
  
}
.secondVideo{
  margin-top: 30px;
}


/*REDES SOCIALES*/

.icono a {
	cursor: pointer;
	text-decoration: none;
}

.contenedor-redes-sociales {

	width: 50px;
	right:  0;
	position: fixed;
	top: 50vh;
	margin-left: 5px;
}

.icono {
	top: 50%;
	position: relative;
	margin-bottom: 10px;
}

.icono-primary {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #3b5998;
	border-radius: 50%;
	position: relative;
	z-index: 1;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;

	-webkit-box-shadow: 1px 0 1px rgba(0,0,0,0.5);
	box-shadow: 1px 0 1px rgba(0,0,0,0.5);
}

/* fin de  redes sociales*/

/* footer*/
#galeria{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100px!important;

}
.galery{
  width:500px!important;
  height: 380px!important;
}
/*titulo para vida detuna con efecto*/
  
 
.footer{
  background-image: url("../assets/images/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
	height: inherit;
	
  
}

.logo{
	margin: 5vh 10vh;
	border-radius: 50%;
	width: 130%;

		
}

.FooterContacto {
	color: #fff;
	text-align: center;
	margin-top: 20%;
	font-size: 3vh;
}

.FooterContacto a{
	color:white;
	letter-spacing: 0.8rem;
}
/* fin de footer*/

@media (max-width: 540px) { 

  .textFooter{
    font-size: 3vh;
  }

  .experience{
    margin-top: 20px;
      
}
.titleReseña{
  margin-top: -46px !important;
}
.galery{
  width: 300px!important;
}
figure {
  margin: 1rem 1rem 1rem 2rem;
}
.iframe{
  margin: 10px;
}
}