/*SEGUNDO HTML LIFE */

body{
  font-family: 'Lato', sans-serif!important;
	text-align: justify;
	margin: 0%;
	padding: 0%;
}



li a{
  color: white; 
 }

ul li  a:hover {
  color: #d79f7f;
}
.linkActive{
  color: #d79f7f;
}
.linkActive:hover{
  color:white;
}

.granate{

  background: rgb(109, 26, 26);
}

.dropdown-menu{
	background-color:black;
	
}
.dropdown-item{
	color: white;
}
/* CAROUSEL*/
.carousel{
	top:10vh;

}

.foto3{
	height: 520px;
}


.life{
	background-color: rgb(235, 229, 229);
}

/*motivacion*/

/* videos*/

.videosContenido{
	margin: 50px 20px 50px 20px;
}
.experience{
margin-top: -60px;
	

}
.textExperience{
	font-style: oblique;
}

.containervideotestimony{

	justify-content: center;
	
	
}
.videoConvocatoria{
	
	width: inherit;
	
}
.experienceTitle{
	margin-top: 20px;
}
.textExperience{
  text-align: justify;


}

/*noticias*/
.news{
  margin-top:30vh;
	margin-left:11vh;
	background-color:white;
	border: 2px solid white;
}


 /*life**/
 /*Integrantes*/
 
 
.titleAhijadas{
  color:rgb(109, 26, 26);
	letter-spacing: 0.5rem;
} /*

/* INTEGRANTES*/


.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(5, 5, 5, 0.432);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility:hidden;

}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h5,
.snip1584 h8 {
  margin: 0;
  opacity: -1;
  letter-spacing: 1px;
}
.snip1584 h5 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  font-weight: 200;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h8 {
  font-weight: normal;
  
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h5,
.snip1584.hover h5,
.snip1584:hover h8,
.snip1584.hover h8 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h8,
.snip1584.hover h8 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


/*REDES SOCIALES*/

.icono a {
	cursor: pointer;
	text-decoration: none;
}

.contenedor-redes-sociales {

	width: 50px;
	right:  0;
	position: fixed;
	top: 50vh;
	margin-left: 5px;
}

.icono {
	top: 50%;
	position: relative;
	margin-bottom: 10px;
}

.icono-primary {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background: #3b5998;
	border-radius: 50%;
	position: relative;
	z-index: 1;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;

	-webkit-box-shadow: 1px 0 1px rgba(0,0,0,0.5);
	box-shadow: 1px 0 1px rgba(0,0,0,0.5);
}

/* fin de  redes sociales*/

/* footer*/

/*galeria*/
.frame {
  
  
  width: 400px;
  height: 400px;
	margin-bottom: 10%;
	
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box-galery {
  width: 100%;
  height: 100%;
  grid-gap: 5px;
  position: relative;
  z-index: 1;
}
.box-galery > [type=checkbox] {
  display: none;
}
.box-galery .imgs {
  --zi: calc(400px / 3 - 3px);
  width: var(--zi);
  height: var(--zi);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.box-galery .img1 {
  background-image: url("../assets/images/GALERIA.jpg");
}
.box-galery .img2 {
  left: var(--zi);
  background-image: url("../assets/images/GALERIA2.jpg");
  left: 0;
  right: 0;
}
.box-galery .img3 {
  background-image: url("../assets/images/GALERIA3.jpg");
  right: 0;
}
.box-galery .img4 {
  background-image: url("../assets/images/galp10.jpg");
  top: 0;
  bottom: 0;
}
.box-galery .img5 {
  background-image: url("../assets/images/gal.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box-galery .img6 {
  background-image: url("../assets/images/galp11.jpg");
  right: 0;
  top: 0;
  bottom: 0;
}
.box-galery .img7 {
  background-image: url("../assets/images/galp7.jpg");
  bottom: 0;
}
.box-galery .img8 {
  background-image: url("../assets/images/galp9.jpg");
  right: 0;
  left: 0;
  bottom: 0;
}
.box-galery .img9 {
  background-image: url("../assets/images/galp3.jpg");
  right: 0;
  bottom: 0;
}
/*galeria2*/
.box-galery .img10 {
  background-image: url("../assets/images/galeria5.jpg");
}
.box-galery .img11 {
  left: var(--zi);
  background-image: url("../assets/images/galeria6.jpg");
  left: 0;
  right: 0;
}
.box-galery .img12 {
  background-image: url("../assets/images/gal61.jpg");
  right: 0;
}
.box-galery .img13 {
  background-image: url("../assets/images/galeriaa.jpg");
  top: 0;
  bottom: 0;
}
.box-galery .img14 {
  background-image: url("../assets/images/galeriab.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box-galery .img15 {
  background-image: url("../assets/images/galeriac.jpg");
  right: 0;
  top: 0;
  bottom: 0;
}
.box-galery .img16 {
  background-image: url("../assets/images/galeriad.jpg");
  bottom: 0;
}
.box-galery .img17 {
  background-image: url("../assets/images/galeriae.jpg");
  right: 0;
  left: 0;
  bottom: 0;
}
.box-galery .img18 {
  background-image: url("../assets/images/galeriaf.jpg");
  right: 0;
  bottom: 0;
}
/*fingaleria2*/
/*galeria3*/
.box-galery .img19 {
  background-image: url("../assets/images/gal40.jpg");
}
.box-galery .img20 {
  left: var(--zi);
  background-image: url("../assets/images/gal60.jpg");
  left: 0;
  right: 0;
}
.box-galery .img21 {
  background-image: url("../assets/images/gal63.jpg");
  right: 0;
}
.box-galery .img22 {
  background-image: url("../assets/images/galeriag.jpg");
  top: 0;
  bottom: 0;
}
.box-galery .img23 {
  background-image: url("../assets/images/galeriai.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box-galery .img24 {
  background-image: url("../assets/images/galeriah.jpg");
  right: 0;
  top: 0;
  bottom: 0;
}
.box-galery .img25 {
  background-image: url("../assets/images/galeriaj.jpg");
  bottom: 0;
}
.box-galery .img26 {
  background-image: url("../assets/images/galeriak.jpg");
  right: 0;
  left: 0;
  bottom: 0;
}
.box-galery .img27 {
  background-image: url("../assets/images/galerial.jpg");
  right: 0;
  bottom: 0;
}
/*fin de3*/


#btn1:checked ~ .img1 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn2:checked ~ .img2 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn3:checked ~ .img3 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn4:checked ~ .img4 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn5:checked ~ .img5 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn6:checked ~ .img6 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn7:checked ~ .img7 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn8:checked ~ .img8 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn9:checked ~ .img9 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

/*galery2 button*/

#btn10:checked ~ .img10 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn11:checked ~ .img11 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn12:checked ~ .img12 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn13:checked ~ .img13 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn14:checked ~ .img14 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn15:checked ~ .img15 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn16:checked ~ .img16 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn17:checked ~ .img17 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn18:checked ~ .img18 {
  width: 400px;
  height: 400px;
  z-index: 10;
}
/*fin galery2 button*/
/*gallery button */
#btn19:checked ~ .img19 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn20:checked ~ .img20 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn21:checked ~ .img21 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn22:checked ~ .img22 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn23:checked ~ .img23 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn24:checked ~ .img24 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn25:checked ~ .img25 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn26:checked ~ .img26 {
  width: 400px;
  height: 400px;
  z-index: 10;
}

#btn27:checked ~ .img27 {
  width: 400px;
  height: 400px;
  z-index: 10;
}



.containerLife{
  display: flex;
  flex-flow: row wrap;
  justify-content: center

}

/*titulo para vida detuna con efecto*/




.footer{
  background-image: url("../assets/images/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
	height: inherit;
	
  
}

.logo{
	margin: 5vh 10vh;
	border-radius: 50%;
	width: 130%;

		
}

.FooterContacto {
	color: #fff;
	text-align: center;
	margin-top: 20%;
	font-size: 3vh;
}

.FooterContacto a{
	color:white;
	letter-spacing: 0.8rem;
}
/* fin de footer*/

@media (max-width: 540px) { 

  .textFooter{
    font-size: 3vh;
  }

  .experience{
    margin-top: 20px;
      
}
.titleReseña{
  margin-top: -46px !important;
}
}