<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Martel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">


  <link rel="stylesheet" href="../CSS/main.css">
  <link rel="stylesheet" href="../CSS/bitup.css">


  <title>Document</title>
</head>

<body>

  <header>
    <div class="container">
      <h1 class="titlePrincipal">TUNA FEMENINA DE SAN MARCOS</h1>
      <p class="subTitle">La primera Tuna Femenina del Perú</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <a href="#" class="brand">
        <img class="loguito" src="assets/images/logo20.jpg" alt="">
      </a>
      <ul>
        <li class="nav-item dropdown ">
          <a class="nav-link  " href="../index.html">Home</a>

        </li>

        </li>


        <li class="nav-item ">
          <a class="nav-link " href="premios.html"> Premios</a>
        </li>

        <li class="nav-item dropdown linkActive">
          <a class="nav-link dropdown-toggle linkActive" data-toggle="dropdown" href="bitup.html" role="button" aria-haspopup="true"
            aria-expanded="false"> Bitup</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#bienal">¿Bitup?</a>
            <a class="dropdown-item" href="#2010">2010</a>
            <a class="dropdown-item" href="#2012">2012</a>
            <a class="dropdown-item" href="#2014">2014</a>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="life.html">Tuna</a>

        </li>
        <li class="nav-item">
          <a class="nav-link " href=contacto.html>Contacto</a>
        </li>


      </ul>

      <button class="toggle">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </nav>



  <section class="contenedor">
    <div class="logoBienal">
      <img src="../assets/images/bienalLogo.png
      " alt="">

    </div>
    <div class=" row contenido">

      <div class="contador col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="responsivo1">
          <div class="cartel">
            <div id="dias"></div>
            <div class="h3">
              <h3>Días</h3>
            </div>
          </div>

          <div class="dospuntos desaparecer2">
            <p>:</p>
          </div>

          <div class="cartel">
            <div id="horas"></div>
            <div class="h3">
              <h3>Horas</h3>
            </div>
          </div>
        </div>
        <div class="dospuntos desaparecer">
          <p>:</p>
        </div>
        <div class="responsivo2">
          <div class="cartel">
            <div id="minutos"></div>
            <div class="h3">
              <h3>Minutos</h3>
            </div>
          </div>

          <div class="dospuntos desaparecer2">
            <p>:</p>
          </div>

          <div class="cartel">
            <div id="segundos"></div>
            <div class="h3">
              <h3>Segundos</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br>
    <br>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="titleReseña bitUp">IV BITUP 2019</p>
    </div>
  </section>
  <br>
  <br>

  <section id="bienal" class=" bitup container">
    <br>
    <br>
    <div class="row">
      <h4 class=" titleAhijadas titleReseña text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">¿QUÉ ES LA BITUP?</h4>
      <br>
      <br>

      <p class="line-bitup textImpact col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> La Bienal Internacional de Tunas Perú (BITUP) consiste en una exposición de performance artístico y de tradiciones
        de tuna, con los objetivos de fomentar la actividad femenina en la tuna, establecer lazos entre agrupaciones nacionales
        y extranjeras y difundir las riquezas de la cultura y arte de nuestro país. Así como, compartir las expresiones artísticas
        de los representantes internacionales. </p>
      <br>

      <p class="line-bitup textImpact col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">La BITUP se desarrolla durante tres días y comprende las siguientes actividades: el Certamen Internacional Sancti Marci,
        la Noche de la Peruanidad, y el tradicional pasaclases por la Ciudad Universitaria de San Marcos.
      </p>
      <br>
    </div>
    <div id="2010" class=" row timeline ">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  ">
        <div style="padding:0 3rem">
          <p class="listaPremios">
            <p class="listaPremios titleAhijadas titleReseña listTunas">
              <b>BITUP 2010</b>
            </p>
            <p class="textImpact">
              <b>Tunas Nacionales Invitadas</b>
            </p>
            <ul class="listVineta">
              <li class="textImpact">Tuna Femenina de la Facultad de Derecho de la Universidad de San Martín de Porres.</li>
              <li class="textImpact"> Tuna Femenina de la Universidad Nacional de Trujillo.</li>
            </ul>
            <p class="textImpact">
              <b>Tunas Internacionales Invitadas</b>
            </p>
            <ul class="listVineta">
              <li class="textImpact">Tuna Femenina de la Universidad Nacional Autónoma de México(México).</li>
              </li>
              <li class="textImpact">Tuna Femenina de la Pontificia universidad Javeriana(Colombia).</li>
              <li class="textImpact"> Tuna Masculina de la Escuela Superior Tecnológica de Viseu - Infantuna(Portugal).</li>
            </ul>
          </p>
          </p>
        </div>
      </div>
      <div class="afiche img-fluid col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <img src="../assets/images/logo2010.JPG" alt="">

      </div>
    </div>
    <div class="galeryBip row">
      <div class="  img-fluid  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/bienal1.jpg" alt="">
      </div>

      <div class="  img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/bienal1a.jpg" alt="">
      </div>
      <div class=" img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/bienal1b.jpg" alt="">
      </div>
    </div>
    <br>
    <div class="galeryBip row ">
      <div class="  img-fluid  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/bitup1.jpg" alt="">
      </div>

      <div class="  img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/bitup1A.jpg" alt="">
      </div>
      <div class=" img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/bitup1D.jpg" alt="">
      </div>
    </div>
    <br>

    <div id="2012" class=" row timeline ">
      <div class=" bitup2012 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  ">
        <div style="padding:0 3rem">
          <p class="listaPremios">
            <p class="listaPremios titleAhijadas titleReseña listTunas">
              <b>BITUP 2012</b>
              <p class="textImpact">
                <b>Tunas Nacionales Invitadas</b>
              </p>
              <ul class="listVineta">
                <li class="textImpact">Tuna Femenina de la Facultad de Derecho de la Universidad de San Martín de Porres.</li>

                <li class="textImpact">Tuna Femenina de la Universidad de San Martín de Porres.</li>
                <li class="textImpact">Tuna Femenina de la Facultad de Derecho de la Universidad Inca Garcilaso de la Vega.</li>
                </li>
                <li class="textImpact"> Tuna Femenina de la Universidad Nacional de Trujillo.</li>
              </ul>
              <p class="textImpact">
                <b>Tunas Internacionales Invitadas</b>
              </p>
              <ul class="listVineta">
                <li class="textImpact">Tuna Femenina de la Universidad Nacional Autónoma de México(México).</li>
                </li>
                <li class="textImpact">Tuna Femenina de la Universidad de los Andes(Colombia).</li>
              </ul>

            </p>
          </p>
        </div>
      </div>
      <div class="afiche img-fluid col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <img class src="../assets/images/2012.jpg" alt="">
      </div>

    </div>
    <br>
    <div class="galeryBip row">
      <div class="  img-fluid  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2012aa.jpg" alt="">
      </div>

      <div class="  img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2012b.jpg" alt="">
      </div>
      <div class=" img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2012c.jpg" alt="">
      </div>
    </div>
    <br>
    <div class="galeryBip row ">
      <div class="  img-fluid  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2012a.jpg" alt="">
      </div>

      <div class="  img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2012d.jpg" alt="">
      </div>
      <div class=" img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2012f.jpg" alt="">
      </div>
    </div>
    <br>


    <div id="2014" class=" timeline row">
      <div class=" bitup2012 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  ">
        <div style="padding:0 3rem">
          <p class="listaPremios">
            <p class="listaPremios titleAhijadas titleReseña listTunas">
              <b>BITUP 2014</b>
              <p class="textImpact">
                <b>Tunas Nacionales Invitadas</b>
              </p>
              <ul class="listVineta">
                <li class="textImpact">Tuna Femenina de la Facultad de Derecho de la Universidad de San Martín de Porres.</li>

                <li class="textImpact">Tuna Femenina de la Facultad de Derecho de la Universidad Inca Garcilazo de la Vega.</li>
                </li>
                <li class="textImpact">Tuna Femenina de la Universidad de San Martín de Porres.</li>
                <li class="textImpact"> Tuna Femenina de la Universidad Nacional de Trujillo.</li>
                <li class="textImpact">Tuna Femenina de la Universidad Tecnológica del Perú</li>
              </ul>
              <p class="textImpact">
                <b>Tunas Internacionales Invitadas</b>
              </p>
              <ul class="listVineta">
                <li class="textImpact">Tuna Femenina de la Universidad de Concepción(Chile).</li>
                </li>
                <li class="textImpact">Tuna Femenina de Chavalas(Puerto Rico).</li>
              </ul>

            </p>
          </p>
        </div>
      </div>

      <div class="afiche img-fluid col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
        <img class src="../assets/images/2014.jpg" alt="">

      </div>

    </div>
    <br>
    <div class="galeryBip row">

      <div class="  img-fluid  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/hermanamiento2.jpg" alt="">
      </div>

      <div class="  img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2014b.jpg" alt="">
      </div>
      <div class=" img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2014c.jpg" alt="">
      </div>

    </div>
    <br>
    <div class="galeryBip row">
      <div class="  img-fluid  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2014abu (1).jpg" alt="">
      </div>

      <div class="  img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2014abu (2).jpg" alt="">
      </div>
      <div class=" img-fluid col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <img class="galeryBitup" src="../assets/images/2014abu (3).jpg" alt="">
      </div>
    </div>
    <br>
    <br>

<br>

    <section class="container ">
      <div class=" bitup2012 containerAgrupation">
        <h4 class="  titleReseña  titleAhijadas containerAgrupation">VIDEOS - BITUP</h4>
      </div>
      <br>
      <div class="video">
        <iframe class=" iframe col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" width="50" height="255" src="https://www.youtube.com/embed/Illgm-rxiRs"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class=" iframe col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" width="50" height="255" src="https://www.youtube.com/embed/SFUHEwRUJxM"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <br><br>
      <div class="video">
        <iframe class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" width="50" height="255" src="https://www.youtube.com/embed/Xkz_sOCqef8"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </section>

    <br>
    <br>
    <br>
    <br><br>


  </section>

  <footer class="footer">
    <div class="textFooter footerInfo">
      <p>Lima, Perú</p>
      <p> tunafemenina@gmail.com</p>
      <p>+511 – 927 941 354</p>

    </div>
    <div class="ContainerLogoFooter">
      <img class="LogoSmFooter" src="../assets/images/logoEscudo.png" alt="">
    </div>
  </footer>



  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales d-none d-sm-block">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://twitter.com/tunafemenina?lang=es" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>



  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src="../js/bitup.js"></script>
</body>