<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Martel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/main.css">
  <link rel="stylesheet" href="../CSS/life.css">
  <link rel="stylesheet" href="../CSS/contacto.css">
</head>

<body class="">

    <header>
        <div class="container">
          <h1 class="titlePrincipal">TUNA FEMENINA DE SAN MARCOS</h1>
          <p class="subTitle">La primera Tuna Femenina del Perú</p>
        </div>
      </header>


      <nav>
          <div class="container">
            <a href="#" class="brand">
              <img class="loguito" src="assets/images/logo20.jpg" alt="">
            </a>
            <ul>
              <li class="nav-item dropdown ">
                <a class="nav-link  " href="../index.html">Home</a>
      
              </li>
      
      
              <li class="nav-item">
                <a class="nav-link " href="premios.html"> Premios</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link " href="bitup.html">Bitup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="life.html">Tuna</a>
      
              </li>
              <li class="nav-item linkActive">
                <a class="nav-link linkActive" href="contacto.html">Contacto</a>
              </li>
      
      
      
            </ul>
      
            <button class="toggle">
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </nav>
      
      
    


  <section class="container-fluid imageContacto">
    <div class="opacity">
      <p class="center-align principalTexto">CONTÁCTANOS </p>
      <P class="center-align secundaryTexto">¡GRACIAS POR TU INTERÉS EN LA TUNA FEMENINA DE SAN MARCOS!</P>
    </div>

  </section>
  <br>
  <section class="container principalContainerContacto">
    <div class="contactoContain item">
      <p class="center-align textImpact">Para saber más de nosotras puedes seguirnos en
        <a href="https://www.facebook.com/tunafemeninasanmarcos/">
          Facebook</a> o
        <a href="https://www.instagram.com/tunamujeres/">
          Instagram</a>. Si eres estudiante y quieres unirte a la tuna o deseas contratarnos para animar un evento,
        celebración, matrimonio, cumpleaños, aniversario, entre otros, escríbenos a
        <a href="mailto:tunafemenina@gmail.com">tunafemenina@gmail.com</a>, llámanos o envíanos un mensaje al whatsapp:
        <a href="https://api.whatsapp.com/send?phone=51927 941 354&text=Hola, estas contactando con la Tuna Femenina de San Marcos">927 941 354</a>

      </p>
      <p class="center-align textImpact">Si deseas participar de nuestra agrupación o presenciar nuestros ensayos, puedes ubicarnos todos los sábados en los
        salones que están a la espalda del anfiteatro¡Te esperamos!</p>
    </div>
  </section>

  <section class="container maps">

    <!--The div element for the map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.8179971341024!2d-77.08841438561771!3d-12.056040345354583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c945c2644005%3A0xd364c7243de274c9!2sTuna+Femenina+UNMSM!5e0!3m2!1ses!2spe!4v1551999252035"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <br>




  <footer class="footer">
      <div>
          <img class="LogoSmFooter" src="../assets/images/logoSM.png" alt="">
        </div>
    <div class="textFooter footerInfo">
      <p>Lima, Perú</p>
      <p> tunafemenina@gmail.com</p>
      <p>+511 – 927 941 354</p>

    </div>

  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales d-none d-sm-block">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://twitter.com/tunafemenina?lang=es" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>

  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src="../js/contacto.js "></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTpzb7m7AzAJBby53QGHt0tvwyCDjuU7g=initMap"></script>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = { lat: -12.056067, lng: -77.086161 };
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), { zoom: 4, center: uluru });
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({ position: uluru, map: map });
    }

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTpzb7m7AzAJBby53QGHt0tvwyCDjuU7g&callback=initMap">
  </script>

</body>

</html>