<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/life.css">
  <link rel="stylesheet" href="../CSS/main.css">
  <title>Document</title>
</head>

<body class="life">

  <header id="menu" class="fixed-top granate">

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link " href="../index.html">Trayectoria</a>

      </li>
      <li class="nav-item">
        <a class="nav-link " href="premios.html">Premios y Reconocimientos</a>

      </li>
      <li class="nav-item">
        <a class="nav-link " href="bitup.html">La Bitup</a>

      </li>
      <li class="nav-item dropdown linkActive">
        <a class="nav-link dropdown-toggle linkActive" data-toggle="dropdown" href="life.html" role="button" aria-haspopup="true"
          aria-expanded="false">Vida de Tuna</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#testimonios">Testimonios</a>
          <a class="dropdown-item" href="#integrantes">Integrantes</a>
          <a class="dropdown-item" href="#galeria">Galería</a>

        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="contacto.html">Contacto</a>
      </li>
    </ul>
  </header>
  <section class="container-fluid">
    <div id="container" class="black">
      <div id="result"></div>
      <button id="changecolor" class="cwhite"></button>
    </div>

  </section>

  <section id="testimonios" class="container ">

    <div class="row videosContenido">

      <br>
      <br>

      <div class=" text-center experience">
        <h4 class=" experienceTitle text-center titleReseña  titleAhijadas col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          NUESTRA MEJOR EXPERIENCIA </h4>
        <br>
        <br>
        <p class="textExperience textImpact col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> &quot;Ser parte de la Tuna será una de las mejores decisiones que tomarás, aquí no sólo encontrarás un espacio musical,
          si no que serás parte de una fraternidad, donde compartirás momentos que harán tu vida universitaria una experiencia
          única&quot; (Tuna Largo- Jeniffer Vaquez) </p>
        <p class="textExperience textImpact  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">&quot;Mi vida dió un giro al encontrar la tuna, maduré, asumí retos que me hicieron crecer como persona, encontré
          un grupo humano divertido que me llena de energía y ganas de emprender nuevos proyectos&quot; (Tuna Abuelita-Matilde
          Lira)</p>
      </div>
    </div>

  </section>

  <h3 id="integrantes" class=" titleReseña  titleAhijadas text-center">INTEGRANTES</h3>
  <br>
  <section class="container">


    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/ursula.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>BRÚJULA</h2>
        <p>Facultad de Letras</p>
        <p>Instrumento: Pandereta</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <img class="integrantes" src="../assets/images/lans.jpg" alt="">
      <div class="content">
        <h2>LANCELOT</h2>
        <p>Facultad de Letras</p>
        <p>Instrumento: Contrabajo</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/chinchon.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>CHINCHON</h2>
        <p>Facultad de Derecho y Ciencias Políticas.</p>
        <p>Instrumento: Guitarra</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/negativo.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>NEGATIVO</h2>
        <p>Facultad de Ciencias Sociales.</p>
        <p>Instrumento: Laúd</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/super.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>SUPER</h2>
        <p>Facultad de Economía.</p>
        <p>Instrumento: Pandero</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/hakuna.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Hakuna</h2>
        <p>Facultad de Ciencias Sociales.</p>
        <p>Instrumento: Guitarra</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/pimpollo.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Pimpollo</h2>
        <P>Facultad de Economía</P>
        <p>Instrumento: Guitarra</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <img class="integrantes" src="../assets/images/carepo.jpg" alt="">
      <div class="content">
        <h2>Carepo</h2>
        <p>Facultad de Educación.</p>
        <p>Instrumento : Percusión</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/largo.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Largo</h2>
        <p>Facultad de odontología</p>
        <p>Instrumento: Guitarra</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img class="integrantes" src="../assets/images/camisa.jpg" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Camisa</h2>
        <p>Facultad de Enfermeria.</p>
        <p>Instrumento: Guitarra</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->

    <!-- content -->
    </div>
    <!-- box -->

  </section>
  <!-- container -->

  <!-- <section class="sectionIntegrantes">
    <div id="app"></div>
  </section> -->
  <br>
  <br>
  <br>
  <section id="galeria" class="">
    <h3 class=" titleReseña  titleAhijadas text-center">GALERÍA</h3>
    <BR></BR>

    <!--Galeria deimagenes-->
    <DIV class="containerLife">
      <div class="frame ">
        <div class="box-galery">
          <input type="checkbox" id="btn1">
          <input type="checkbox" id="btn2">
          <input type="checkbox" id="btn3">
          <input type="checkbox" id="btn4">
          <input type="checkbox" id="btn5">
          <input type="checkbox" id="btn6">
          <input type="checkbox" id="btn7">
          <input type="checkbox" id="btn8">
          <input type="checkbox" id="btn9">

          <label for="btn1" class="imgs img1"></label>
          <label for="btn2" class="imgs img2"></label>
          <label for="btn3" class="imgs img3"></label>
          <label for="btn4" class="imgs img4"></label>
          <label for="btn5" class="imgs img5"></label>
          <label for="btn6" class="imgs img6"></label>
          <label for="btn7" class="imgs img7"></label>
          <label for="btn8" class="imgs img8"></label>
          <label for="btn9" class="imgs img9"></label>
        </div>
      </div>

      <!--Galeria deimagenes-->
      <div class="frame ">
        <div class="box-galery">
          <input type="checkbox" id="btn10">
          <input type="checkbox" id="btn11">
          <input type="checkbox" id="btn12">
          <input type="checkbox" id="btn13">
          <input type="checkbox" id="btn14">
          <input type="checkbox" id="btn15">
          <input type="checkbox" id="btn16">
          <input type="checkbox" id="btn17">
          <input type="checkbox" id="btn18">

          <label for="btn10" class="imgs img10"></label>
          <label for="btn11" class="imgs img11"></label>
          <label for="btn12" class="imgs img12"></label>
          <label for="btn13" class="imgs img13"></label>
          <label for="btn14" class="imgs img14"></label>
          <label for="btn15" class="imgs img15"></label>
          <label for="btn16" class="imgs img16"></label>
          <label for="btn17" class="imgs img17"></label>
          <label for="btn18" class="imgs img18"></label>
        </div>
      </div>

      <!--Galeria deimagenes-->
      <div class="frame ">
        <div class="box-galery">
          <input type="checkbox" id="btn19">
          <input type="checkbox" id="btn20">
          <input type="checkbox" id="btn21">
          <input type="checkbox" id="btn22">
          <input type="checkbox" id="btn23">
          <input type="checkbox" id="btn24">
          <input type="checkbox" id="btn25">
          <input type="checkbox" id="btn26">
          <input type="checkbox" id="btn27">

          <label for="btn19" class="imgs img19"></label>
          <label for="btn20" class="imgs img20"></label>
          <label for="btn21" class="imgs img21"></label>
          <label for="btn22" class="imgs img22"></label>
          <label for="btn23" class="imgs img23"></label>
          <label for="btn24" class="imgs img24"></label>
          <label for="btn25" class="imgs img25"></label>
          <label for="btn26" class="imgs img26"></label>
          <label for="btn27" class="imgs img27"></label>
        </div>
      </div>
    </DIV>


  </section>

  <footer class="footer">
    <div>
      <img style="width:200px;padding-right:60px;padding-top:8vh;padding-bottom:8vh;" src="../assets/images/logoSM.png" alt="">
    </div>
    <div class="textFooter footerInfo">
      <p>Lima, Perú</p>
      <p> tunafemenina@gmail.com</p>
      <p>+511 – 927 941 354</p>

    </div>

  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales d-none d-sm-block">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://twitter.com/tunafemenina?lang=es" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>



  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src=""></script>


</body>

</html>