<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Martel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/life.css">
  <link rel="stylesheet" href="../CSS/main.css">
  <title>Document</title>
</head>

<body>


  <header>
    <div class="container">
      <h1 class="titlePrincipal">TUNA FEMENINA DE SAN MARCOS</h1>
      <p class="subTitle">La primera Tuna Femenina del Perú</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <a href="#" class="brand">
        <img class="loguito" src="assets/images/logo20.jpg" alt="">
      </a>
      <ul>
        <li class="nav-item dropdown ">
          <a class="nav-link  " href="../index.html">Home</a>

        </li>


        <li class="nav-item ">
          <a class="nav-link " href="premios.html"> Premios</a>
        </li>


        <li class="nav-item ">
          <a class="nav-link " href="bitup.html"> Bitup</a>

        </li>

        <li class="nav-item  dropdown linkActive">
          <a class="nav-link dropdown-toggle linkActive" data-toggle="dropdown" href="life.html" role="button" aria-haspopup="true"
            aria-expanded="false"> Tuna</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#testimonios">Testimonios</a>
            <a class="dropdown-item" href="#integrantes">Integrantes</a>
            <a class="dropdown-item" href="#galeria">Galería</a>
            <a class="dropdown-item" href="#video">Videos</a>

          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link " href="contacto.html">Contacto</a>
        </li>


      </ul>

      <button class="toggle">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </nav>








  <section class="container-fluid">
    <div id="container" class="black">
      <div id="result"></div>
      <button id="changecolor" class="cwhite"></button>
    </div>

  </section>

  <section id="testimonios" class="container ">

    <div class="row videosContenido">

      <br>
      <br>

      <div class=" text-center experience">
        <h4 class=" experienceTitle text-center titleReseña  titleAhijadas col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          NUESTRA MEJOR EXPERIENCIA </h4>
        <br>
        <br>
        <p class="textExperience textImpact col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> &quot;Ser parte de la Tuna será una de las mejores decisiones que tomarás, aquí no sólo encontrarás un espacio musical,
          si no que serás parte de una fraternidad, donde compartirás momentos que harán tu vida universitaria una experiencia
          única&quot; (Tuna Largo- Jeniffer Vaquez) </p>
        <p class="textExperience textImpact  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">&quot;Mi vida dió un giro al encontrar la tuna, maduré, asumí retos que me hicieron crecer como persona, encontré
          un grupo humano divertido que me llena de energía y ganas de emprender nuevos proyectos&quot; (Tuna Abuelita-Matilde
          Lira)
        </p>
      </div>
    </div>

  </section>

  <h3 id="integrantes" class=" titleReseña  titleAhijadas text-center">INTEGRANTES</h3>
  <br>



  <section class="container">
    <figure class="snip1584">
      <img src="../assets/images/ursula.jpg" alt="" />
      <figcaption>
        <h5 class=" ">BRÚJULA</h5>
        <h8> Instrumento : Pandereta</h8>
        <h8> Feacultad: Letras y Humanidades</h8>


      </figcaption>

    </figure>
    <figure class="snip1584">
      <img src="../assets/images/lans.jpg" alt="sample119" />
      <figcaption>
        <h5 class=" ">LANCELOT</h5>
        <h8> Instrumento : Contrabajo</h8>
        <h8> Feacultad: Letras y Humanidades</h8>
      </figcaption>

    </figure>
    <figure class="snip1584">
      <img src="../assets/images/chinchon.jpg" alt="sample120" />
      <figcaption>
        <h5 class=" ">CHINCHON</h5>
        <h8> Instrumento : Guitarra</h8>
        <h8> Facultad: Derecho </h8>
      </figcaption>

    </figure>
    <figure class="snip1584">
      <img src="../assets/images/negativo.jpg" alt="sample120" />
      <figcaption>
        <h5 class=" ">NEGATIVO</h5>
        <h8> Instrumento : Laud</h8>
        <h8> Facultad: Ciencias Sociales</h8>
      </figcaption>

    </figure>

    <figure class="snip1584">
      <img src="../assets/images/super.jpg" alt="sample87" />
      <figcaption>
        <h5 class=" ">SUPER</h5>
        <h8> Instrumento : Pandereta</h8>
        <h8> Facultad: Economia </h8>


      </figcaption>

    </figure>
    <figure class="snip1584 ">
      <img src="../assets/images/hakuna.jpg" alt="sample119" />
      <figcaption>
        <h5 class=" ">HAKUNA</h5>
        <h8> Instrumento : Guitarra</h8>
        <h8> Facultad: Ciencias Sociales</h8>
      </figcaption>

    </figure>
    <figure class="snip1584">
      <img src="../assets/images/pimpollo.jpg" alt="sample120" />
      <figcaption>
        <h5 class=" ">PIMPOLLO</h5>
        <h8> Instrumento : Guitarra</h8>
        <h8> Facultad: Economia</h8>
      </figcaption>

    </figure>
    <figure class="snip1584">
      <img src="../assets/images/carepo.jpg" alt="sample120" />
      <figcaption>
        <h5 class=" ">CAREPO</h5>
        <h8> Instrumento : Cajon</h8>
        <h8> Facultad: Educacion</h8>
      </figcaption>

    </figure>
    <figure class="snip1584">
      <img src="../assets/images/largo.jpg" alt="sample120" />
      <figcaption>
        <h5 class=" ">LARGO</h5>
        <h8> Instrumento : Guitarra</h8>
        <h8> Facultad: Odontologia</h8>
      </figcaption>

    </figure>

  </section>




  <br>
  <br>
  <br>

  <section id="galeria" class="container">
    <h3 class=" titleReseña  titleAhijadas text-center">GALERÍA</h3>
    <!--Galeria deimagenes-->

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class=" galery d-block w-100" src="../assets/images/GALERIA2.jpg" alt="First slide">
        </div>
        <div class="carousel-item ">
          <img class="galery d-block w-100" src="../assets/images/gal.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class=" galery d-block w-100" src="../assets/images/GALERIA3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class=" galery d-block w-100" src="../assets/images/GALERIA.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class=" galery d-block w-100" src="../assets/images/galp10.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class=" galery d-block w-100" src="../assets/images/diverty.gif" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class=" galery d-block w-100" src="../assets/images/chiclayo.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class=" galery d-block w-100" src="../assets/images/chiclattyo2.jpg" alt="Third slide">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3 class="textVideo titleReseña  titleAhijadas text-center">VIDEOS</h3>
  <section id="video"  class="container-fluid containerVideos">
    
          

    <div class="video ">
      <iframe class=" iframe col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" width="80" height="255" src="https://www.youtube.com/embed/006AbyPbMRU"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="  iframe col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" width="80" height="255" src="https://www.youtube.com/embed/n9shL-U4LLo"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="iframe col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" width="80" height="255" src="https://www.youtube.com/embed/93xhDi1Q1t0"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video secondVideo">
      <iframe class="  iframe col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" width="80" height="255" src="https://www.youtube.com/embed/vRaX1KPKX3Q"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class=" iframe col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" width="80" height="255" src="https://www.youtube.com/embed/FV1-emVZ18U"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class=" iframe col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" width="80" height="255" src="https://www.youtube.com/embed/YxdVtubsB90"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer class="footer">
    <div class="textFooter footerInfo">
      <p>Lima, Perú</p>
      <p> tunafemenina@gmail.com</p>
      <p>+511 – 927 941 354</p>

    </div>
    <div class="ContainerLogoFooter">
      <img class="LogoSmFooter" src="../assets/images/logoEscudo.png" alt="">
    </div>
  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales d-none d-sm-block">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://twitter.com/tunafemenina?lang=es" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>



  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src=""></script>


</body>

</html>