<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Martel&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">

  <link rel="stylesheet" href="../CSS/main.css">
  <link rel="stylesheet" href="../CSS/premios.css">

  <title>Document</title>
</head>

<body>

  <header>
    <div class="container">
      <h1 class="titlePrincipal">TUNA FEMENINA DE SAN MARCOS</h1>
      <p class="subTitle">La primera Tuna Femenina del Perú</p>
    </div>
  </header>

  <nav>
    <div class="container">
      <a href="#" class="brand">
        <img class="loguito" src="assets/images/logo20.jpg" alt="">
      </a>
      <ul>
        <li class="nav-item dropdown ">
          <a class="nav-link  " href="../index.html">Home</a>

        </li>


        <li class="nav-item linkActive">
          <a class="nav-link linkActive" href="Premios.html"> Premios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="bitup.html">Bitup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="life.html">Tuna</a>

        </li>
        <li class="nav-item">
          <a class="nav-link " href="contacto.html">Contacto</a>
        </li>



      </ul>

      <button class="toggle">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </nav>



  <section>
    <div class="container">
      <div class="jumbotron">
        <div class="imagePremios">
          <div class="">
            <div class="text-center title">
              <h4 class=" titleAhijadas titleReseña"> PREMIOS Y RECONOCIMIENTOS IMPORTANTES</h4>

              <hr>
            </div>
            <div class="containerPileta">
              <img class="pileta img-fluid" src="../assets/images/premios.jpg">

            </div>
          </div>
        </div>
        <div class="container timeline">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="premios">


              <p class="listaPremios">
                <p class="listaPremios titleAhijadas titleReseña">
                  <b>2003</b>
                  <li class="textImpact">
                    <b>Portugal</b> - Certamen Marías de la Universidad Nova de Lisboa</li>
                  <li class="textImpact">
                    <b>Premios</b> - "Tercera mejor tuna" y "Tuna más tuna"</li>
                  <br>
                  <li class="textImpact">
                    <b>Portugal</b> - Festival Capa e Saia</li>
                  <li class="textImpact">
                    <b>Premios</b> - "Tuna más tuna " y " Mención Honrosa del Jurado "</li>

                </p>
                <br>
                <p class="listaPremios titleAhijadas titleReseña">
                  <b>2009</b>
                  <li class="textImpact">
                    <b>Lima</b>-Certamen Internacional Sanmartinas</li>
                  <li class="textImpact">
                    <b>Premios</b> -"Mejor Instrumental"</li>
                </p>
                <br>
                <p class="listaPremios titleAhijadas titleReseña">
                  <b>2010</b>
                  <li class="textImpact">
                    <b>Lima</b> - Congreso de la República</li>
                  <li class="textImpact">
                    <b>Reconocimiento</b> - Moción de saludo y felicitación del Congreso de la República por la actividad artística
                    y cultural de la Tuna Femenina de San Marcos. </li>
                  <br>
                  <li class="textImpact">
                    <b>Lima</b> - UNESCO</li>
                  <li class="textImpact">
                    <b>Reconocimiento</b> - Patrocinio por el esfuerzo a la integración y difusión de la diversidad cultural
                    y organización de la
                    <b>Conferencia Internacional por la Cultura , el Arte y la Equidad,
                    </b> única actividad realizada en Perú reconocida por la
                    <b>UNESCO</b> en el calendario de actividades del “Año del Acercamiento Cultural”
                  </li>
                </p>

                <br>
                <p class="listaPremios titleAhijadas titleReseña">
                  <b>2013</b>
                  <li class="textImpact">
                    <b>México</b>-Certamen Internacional de Tunas Femeniles de la Universidad Nacional Autónoma de México
                  </li>
                  <li class="textImpact">
                    <b>Premios</b> - "Mejor solista" y "Tuna más Tuna" </li>
                </p>
                <br>

                <p class="listaPremios titleAhijadas titleReseña">
                  <b>2016</b>
                  <li class="textImpact">
                    <b>Trujillo</b> - II Certamen Internacional Carmina Vernun </li>
                  <li class="textImpact">
                    <b>Premios</b> - "Segunda Mejor Tuna " y "Mejor Ensamble Vocal" </li>
                </p>

              </p>
            </div>
            <div class="citacao ">
              <blockquote>
                <p>"La gente tiene que soñar, sino las cosas no suceden".</p>
                <p>Oscar Niemeyer</p>
              </blockquote>
            </div>


          </div>

        </div>
      </div>
  </section>


  <footer class="footer">
    <div>
      <img class="LogoSmFooter" src="../assets/images/logoSM.png" alt="">
    </div>
    <div class="textFooter footerInfo">
      <p>Lima, Perú</p>
      <p> tunafemenina@gmail.com</p>
      <p>+511 – 927 941 354</p>
    </div>
  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://twitter.com/tunafemenina?lang=es" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>

  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src=""></script>

</body>

</html>